<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    xin chào mọi người nhập url trang cần down load pdf:
    <input type="text" name="url" id="form-url" />
    <button>Oke</button>
    <!-- <script>
      async function convertCanvasToImage(canvas) {
        imageDataUrl = canvas.toDataURL("image/png");
        const blobData = await (await fetch(imageDataUrl)).blob();
        return new File([blobData], canvas.id + ".png");
      }
      const main = async () => {
        const canvases = document.querySelectorAll(
          ".flowpaper_interactivearea"
        );

        const formData = new FormData();
        let index = 0;
        for (const canvas of canvases) {
          if (canvas.style.display === "block") {
            formData.append("images", await convertCanvasToImage(canvas));
          }
        }

        const data = await fetch(
          "https://downloadpdffromhtml.onrender.com/images-to-pdf",
          {
            method: "POST",
            body: formData,
          }
        ).then((res) => res.json());
        console.log(data);
      };
      main();
    </script> -->

    <script>
      const main = async () => {
        const data = await fetch("/images").then((res) => res.json());
        console.log(data);
      };
    </script>
  </body>
</html>
